{% extends "layout.html" %}

{% block body %}
<!-- Header -->
<header id="header">
	<div class="inner">
    <a href="{{url_for('index') }}" class="logo"><b>FILE.DEVELOPERS</b></a>
		<nav id="nav">
      <a href="{{ url_for('index' ) }}">Home</a>
      <a href="{{ url_for('generic') }}">Generic</a>
      <a href="{{ url_for('elements') }}">Elements</a>
		</nav>
	</div>
</header>
<footer id="footer">
	<div class="inner">
    <div id="copyright">
      <p>© 2020 File.Developers. Mit License.</p>
    </div>
	</div>
</footer>
{% endblock body %}
