{% extends "layout.html" %}

{% block body %}
<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1>File Developers: <span id="js-rotating">Desarrolladores Estudiantes Comunidad</span></h1>
            <p class="p-heading p-large">Somos un grupo de programadores, creamos y desarrollamos proyectos juntos</p>
            <a href="{{ url_for('index')}}/#intro" class="btn-solid-lg page-scroll"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End of Header -->

<!-- Intro -->
<div id="intro" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <div class="section-title">Introduccion</div>
          <h2>Cada lenguaje es aceptado! Generalizamos en los lenguajes</h2>
          <p>El lanzamiento de un proyecto puede ser un proceso bastante abrumador en ocasiones.</p>
          <p class="testimonial-text">"Nuestra mision es programar juntos, compartir ideas, solicitar ayuda o conocer programadores."</p>
          <div class="testimonial-author">ZAD4Y ~ CTO</div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="image-container">
          <img src="" alt="Imagen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-container about">
          <h4>Algunas palabras sobre File Developers</h4>
          <p class="white">Proximamente</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-container">
          <h4>Links</h4>
          <ul class="list-unstyled li-space-lg white">
            <li>
              <a class="white" href="https://github.com/file-developers">Organizacion de GitHub</a>
            </li>
            <li>
              <a class="white" href="{{ url_for('terms_conditions') }}">Terminos y Condiciones</a>
            </li>
            <li>
              <a class="white" href="{{ url_for('privacy_policy') }}">Politicas de Privacidad</a>
7            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Footer -->

<!-- Scripts -->
<div>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> <!-- Popper tooltip library for Bootstrap --> 
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap framework -->
  <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script> <!-- Swiper for image and text sliders -->
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{{ url_for('static', filename='js/morphext.min.js') }}"></script> <!-- Morphtext rotating text in the header -->
  <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script> <!-- Isotope for filter -->
  <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Custom scripts -->
</div>
<!-- End of Scripts -->
{% endblock body %}
