<!DOCTYPE html>
<html>
<head>
<!-- META TAGS -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- SEO META TAGS -->
<meta name="description" content="The official web page for File Developers">
<meta name="author" content="File Developers">

<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
<meta property="og:site_name" content="File Developers" /> <!-- website name -->
<meta property="og:site" content="https://file-developers.herokuapp.com/" /> <!-- website link -->
<meta property="og:title" content="File Developers" /> <!-- title shown in the actual shared post -->
<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
<meta property="og:image" content="{{ url_for('static', filename='img/main.jpg') }}" /> <!-- image link, make sure it's jpg -->
<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
<meta property="og:type" content="article" />
<!-- STYLES -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">	

<!-- USE JINJA TO LOAD A TITLE -->
{% if title %}
<title>{{ title }} · File Developers</title>
{% else %}
<title>File Developers</title>
{% endif %}

<!-- Icon -->
<link rel="icon" href="{{ url_for('static', filename='img/mainwithoutbg.jpg')}}">
</head>
<body>
<!-- Preloader -->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
<!-- end of Preloader -->
<!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

  <!-- Text Logo - Use this if you don't have a graphic logo -->
  <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">File Developers</a> -->
  
  <!-- Logo -->
  <a class="navbar-brand logo-image" href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='img/mainwithoutbg.jpg') }}" alt="File Developers"></a>
  <!-- Mobile Menu Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fdnavbar" aria-controls="fdnavbar" aria-expanded="false" aria-label="Alternar Navegacion">
    <span class="navbar-toggler-awesome fas fa-bars"></span>
    <span class="navbar-toggler-awesome fas fa-times"></span>
  </button>
  <!-- end of mobile menu toggle button -->
  <div class="collapse navbar-collapse" id="fdnavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#header">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#intro">Descripcion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#callMe">Escribenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#projects">Proyectos</a>
      </li>

      <!-- Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Sobre Nosotros</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('terms_conditions') }}"><span class="item-text">Terminos y Condiciones</span></a>
          <div class="dropdown-items-divide-hr"></div>
          <a class="dropdown-item" href="{{ url_for('privacy_policy') }}"><span class="item-text">Politica de Privacidad</span></a>
        </div>
      </li>
      <!-- End of Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#contact">Contacto</a>
      </li>
    </ul>
    <span class="nav-item social-icons">
      <span class="fa-stack">
        <a href="https://github.com/file-developers">
          <span class="hexagon"></span>
          <i class="fab fa-github fa-stack-1x"></i>
        </a>
        <a href="https://discord.gg/FeTP4PE">
          <span class="hexagon"></span>
          <i class="fab fa-discord fa-stack-1x"></i>
        </a>
      </span>
    </span>
  </div>
  </nav>
<!-- End of Navbar -->

<!-- PRINCIPAL PAGE BLOCK -->
{% block body %}{% endblock body %}
<!-- END OF PRINCIPAL PAGE BLOCK -->

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-container about">
          <h4>Algunas palabras sobre File Developers</h4>
          <p class="white">Proximamente</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-container"> 
          <h4>Links</h4> 
          <ul class="list-unstyled li-space-lg white">
            <li>
              <a class="white" href="https://github.com/file-developers">Organizacion de GitHub</a>
            </li>
            <li>
              <a class="white" href="{{ url_for('terms_conditions') }}">Terminos y Condiciones</a>
            </li>
            <li>
              <a class="white" href="{{ url_for('privacy_policy') }}">Politicas de Privacidad</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Footer -->

<!-- Scripts -->
<div>
 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> <!-- jQuery for Bootst    rap's JavaScript plugins -->
 <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> <!-- Popper tooltip li    brary for Bootstrap -->•
 <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap fram    ework -->
 <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script> <!-- jQuery Eas    ing for smooth scrolling between anchors -->
  <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script> <!-- Swiper for image     and text sliders -->
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script> <!-- Magnif    ic Popup for lightboxes -->
  <script src="{{ url_for('static', filename='js/morphext.min.js') }}"></script> <!-- Morphtext rotat    ing text in the header -->
  <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script> <!-- Isotope for     filter -->
  <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script> <!-- Validator.js -     Bootstrap plugin that validates forms -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Custom scripts -->
</div>
<!-- End of Scripts -->

</body>
</html> 
